@charset "UTF-8";


*{
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
div.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 30px 1fr 30px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3px;
}

.item1{
    background-color: aquamarine;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

}

.item2{
    background-color: bisque;
    grid-row: 2 / 3 ;
    grid-column: 1 / -1;
}

.item3{
    background-color: rgb(125, 174, 217);
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    
}

.item4{
    background-color: chocolate;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    
}

.item5{
    background-color: tomato;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    
}