@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    color:black;
    background-color: lightgray;
    text-shadow: 2px 2px 2px rgba(53, 52, 52, 0.416);

}
header h1{
    padding: 5px;
    display: inline-block;
}

a{
    background-color: rgb(46, 46, 46);
    margin: 2px;
}


main{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.358);
}
body{
    background-color: lightgray;
}

main h2{
    padding: 8px;
}
p{
    padding: 10px;
    text-align: justify;
}
#container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

header #segundo{
    display: flex;
    justify-content: flex-end;

    margin: 5px;
    padding: 0px;
    border-radius: 4px;
    text-align: center;
    align-content: center;
}

nav a{
    padding: 10px;
    border-radius: 4px;
    color: white;
}

#primeiro{
    justify-content: flex-start;

}



a:hover{
    background-color: rgba(108, 106, 106, 0.578);
    color: black;
}

@media (min-width:639px) and (max-width:1045px) {

    #container{
        justify-content: flex-start;
    }
    
}
@media (max-width:638px){

    #segundo{
        display: flex;
        flex-flow: column nowrap;
        width: 100vw;

}

}


    

