@charset "UTF-8";

/*aparelho deitado (landscape)*/
html, body{
    background-color: darksalmon;
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    
    
}

