@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

section.normal{
    
}
section.flex-content{
    background-color: lightgray;
    padding: 10px;
}


header, section.normal{
    padding: 10px;
}

p, h1, h2{
    margin-bottom: 8px;
    text-align: justify;
}

#container-media-text{
    display: flex;
    flex-flow: row wrap;
}

#container-text-media{
    display: flex;
    flex-flow: row wrap;

}
#item1{


}
#item2{

}
#item3{

}
#item4{


}