@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

section.normal{
    
}
section.flex-content{
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}


header, section.normal{
    padding: 10px;
}

p, h1, h2{
    margin-bottom: 8px;
    text-align: justify;
}



article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;

}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

article > div.text{
    flex: 1 1 500px;

}

article > div.media{
    flex: 1 0 500px;

}

div.media > img{
    display: block;
    margin: auto;
    width: 300px;
}

div.media > iframe{
    display: block;
    margin: auto;

    width: 90vw;
}