@charset "UTF-8";

*{
    text-align: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1{
    background-color: lightgray;

    /*grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
                       simplificar isso tudo*/
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2{
    background-color: lightskyblue;

    /*grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;*/

    grid-row: 2 / 5;
    grid-column: 1 / 3;
}

.caixa3{
    background-color: lightgoldenrodyellow;

    /*grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;*/

    grid-row: 2 / 5;
    grid-column: 3 / 5;
}