@charset "UTF-8";

*{
    text-align: center;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1{
    background-color: lightgray;

    /*grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
           ou
    grid-row: 1 / 2;
    grid-column: 1 / 5;

           ou
                simplificar isso tudo*/

    grid-area: 1 / 1 / 2 / 5;
    
}

.caixa2{
    background-color: lightskyblue;

    /*grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
           ou
    grid-row: 2 / 5;
    grid-column: 1 / 3;
           ou*/
    grid-area: 2 / 1 / 5 / 3;
}

.caixa3{
    background-color: lightgoldenrodyellow;

    /*grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
          ou
    grid-row: 2 / 5;
    grid-column: 3 / 5;
          ou*/
    grid-area: 2 / 3 / 5 / 5;
}