@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
telas pequenas: até: 600
Celular: de 600px até 768px
Tablet: de 768px até 1024px
Desktop: de 1024px até 1920px
Grandes Telas: acima de 1920px
*/
/* não vou fazer configurações para dispositivos moveis porque ja fiz na outra pagina de css */

@media print{ /*Impressão*/
    body{
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    img#phone{ display: none;}
    img#print{ display: block;}
    img#tv{ display: none;}
    img#pc{display: none;}
    img#tablet{display: none;}

    main::after{
        content: 'Essa impressão foi feita atráves do site github.io/Aglailson-junior';
        text-decoration: underline;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){ /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);

    }
    img#phone{ display: none;}
    img#print{ display: none;}
    img#tv{ display: none;}
    img#pc{display: none;}
    img#tablet{display: block;}
    main{
        width: 500px;
     }
}

@media screen and (min-width: 1024px) and (max-width: 1920px){ /*Desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#print{ display: none;}
    img#tv{ display: none;}
    img#pc{display: block;}
    img#tablet{display: none;}
    
    main{
        width: 500px;
    }


}

@media screen and (min-width:1920px){ /*Grandes Telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{ display: none;}
    img#print{ display: none;}
    img#tv{ display: block;}
    img#pc{display: none;}
    img#tablet{display: none;}

    main{
        width: 600px;
    }

}