@charset "UTF-8";

/*configurações gerais*/
        *{
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        html, body{
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1{
            color: rgb(245, 245, 251);
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.468);
            padding: 10px;

        }
        /*aparelho em pé (portrait)*/
        @media screen and (orientation: portrait) {
            body{
                background-image: url(../imagens/cev-portrait.jpg);
                background-position: center bottom;
            }
        }

        /*aparelho deitado (landscape)*/
        @media screen and (orientation: landscape){
            html, body{
                background-image: url(../imagens/cev-landscape.jpg);
                background-position: left bottom;
                background-size: contain;
                background-repeat: no-repeat;
            }

        }