@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(146, 146, 146);
    margin-bottom: 10px;
}

header > h1{
    text-align: center;
    padding: 10px;
}

menu{
    display: none;
}
menu ul{
    list-style-type: none;
}

menu > ul > li > a{
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(84, 84, 84);
    color: white;
    border-top: 2px solid rgb(146, 146, 146);
}

menu > ul > li > a:hover{
    background-color: rgb(107, 107, 107);
    
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
main > article > h2{
    margin-bottom: 10px;
}

main > article > p{
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 20px;
}

span#burguer{
    background-color: rgb(73, 73, 73);
    display: block;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}
span#burguer:hover{
    background-color: white;
    color: rgb(73, 73, 73);
}
